<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :street_address, label: 'Address or Approximate Location' %>
    <%= f.input :city %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Find Dat Bus!', class: "btn btn-info btn-lg" %>
  </div>
<% end %>
